.container{
  margin-top: 0%;
}

.contact-box-container{
  margin-top: 15px;
}
.contact-box{
  height: 120px;
  border: 1px solid black;
  margin-bottom: 10px;
}

.contact-section-title{
  text-align: center;
}

.contact-box-icon{
  text-align: center;
}

.contact-box-text{
  text-align: center;
  color: rgb(119, 119, 119);
}

.contact-icon{
  height: 25px;
  width: 25px;
}

.box{
  margin-top: 20px;
}